html
{
   page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}
div
{
    page-break-after: avoid;
    page-break-before: avoid;
     page-break-inside: auto;
}

h2
{
   page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}
p
{
  page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

body
{
    background-color:#ffffff;
font-family:Arial;
    margin:0;
	padding:0;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}


#header
{
    top:0px;
    height:90px;
    width:1000px;
    background-color: #000000;
    background-image: url(../images/headerBg1.jpg);
    background-repeat: repeat-y;
    position: relative;
    -moz-border-radius: 8px 8px 8px 8px;
    display: none;
}

#header #company
{
    top:0px;
    left:5px;
    float: left;
    position:relative;
    background-image:none;
    background-repeat: no-repeat;
    width:280px;
    height:75px;
    text-align: left;
    font-size: 12px;
    display: none;
}

#header #company #chead
{
    font-size: 22px;
    font-weight: bold;
    display: none;
}

#header #cv
{
    top:5px;
    left:210px;
    float:left;
    position:relative;
    color:#fff;
font-family:Arial;
    font-size: 45;
    text-shadow: 20;
}

#header #version
{
    top:47px;
    left:160px;
    float:left;
    position:relative;
    color:#fff;
font-family:Arial;
    font-size:10px;
    display :none;
}

#header #logo
{
    float:right;
    top:5px;
    right:5px;
    position:relative;
    display:none;
}



#main
{
    width:1000px;
    top:3px;
    position: relative;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#leftcol
{
    width:135px;
    float:left;
    text-align:left;
font-family:Arial;
    display: none;
}

#rightcol{

width:135px;
float:right;
text-align:left;
font-family:Arial;
right:0px;
position:absolute;
}

#bar
{
    -moz-border-radius: 2px 2px 2px 2px;
    width:860px;
    background-color:#FFFFFF;
    float:left;
    left: 3px;
    position:relative;
     page-break-after: avoid;
    page-break-before: avoid;
     display: inline;

}

#bar a
{
    color:#ffffff;
    text-decoration: none;
}

#bar #headBar
{
    -moz-border-radius: 2px 2px 2px 2px;
    color:#ffffff;
    font-size:20px;
font-family:Arial;
    float:none;
    text-transform: uppercase;
    page-break-after: avoid;
    page-break-before: avoid;
    display: inline;


}

#bottomBar
{
    -moz-border-radius: 2px 2px 2px 2px;
    width:860px;
    background-color:#FFFFFF;
    float:left;
    left: 3px;
    position:relative;
    color:#ffffff;
    font-size:12px;
font-family:Arial;
    left: 0px;
    position: relative;
     page-break-after: avoid;
    page-break-before: avoid;

}

#containerMain
{
    width:860px;
    float: left;
    left: 3px;
    margin-top: 3px;
    text-align:left;
    position: relative;
font-family:Arial;
 page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#containerMain a
{
    text-decoration: none;
}


#containerMain a:Hover
{
    text-decoration: none;
    text-transform: none;
}



#head
{
    -moz-border-radius: 1px 1px 1px 1px;
    width:135px;
    height:18px;
    background-color:#1A2226;
    color:#ffffff;
font-family:Arial;
    page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}


#head1
{
    -moz-border-radius: 1px 1px 1px 1px;
    width:860px;
    height:22px;
    background-color:#FFFFFF;
    color:#ffffff;
    text-align:left;
font-family:Arial;
 page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#headtitle
{
    top:-2px;
    position:relative;
    color:#ffffff;
font-family:Arial;
    font-size:12px;
    font-weight: bold;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
    
}

.classPrintTitle
{
color:#ffffff;
font-family:Arial;
font-weight: bold;

    font-size:16px;
    
 border-bottom:2px solid black;

}

#headtitle1
{
    color:#ffffff;
font-family:Arial;
font-weight: bold;
    left:0px;
    position:relative;
    font-size:16px;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
 border-bottom:2px solid black;
}

#headtitle1 td
{
    color:#ffffff;
font-family:Arial;
font-weight: bold;
    font-size:16px;

}

#head img
{
    -moz-border-radius: 2px 2px 2px 2px;
    left:0px;
    top:-2px;
    position: relative;
    float:left;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#head1 img
{
    -moz-border-radius: 2px 2px 2px 2px;
    left:0px;
    position: relative;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#footer
{
    -moz-border-radius: 1px 1px 1px 1px;
    top:7px;
    left: 0px;
    width:1000px;
    height:15px;
    background-color:#FFFFFF;
    position: relative;
    float:left;
    color: #FFFFFF;
    font-family:Arial;
    font-size: 9px;
    text-decoration: none;
    text-transform: none;
    display: none;
}

#footer a
{
   text-decoration: none;
   color: #ffffff;
   text-transform: none;
   display: none;
}


h3
{
    -moz-border-radius: 2px 2px 2px 2px;
    color:#000000;
}


#leftWidget
{
    background-image: url(../images/bg.jpg);
    background-repeat: repeat-x;
    background-color: #ffffff;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}


#leftWidget #leftWidgetContent
{
    -moz-border-radius: 2px 2px 2px 2px;
    color:#000000;
    font-size: 10px;
    font-Family: 'Arial';
    margin-left: 10px;
    text-decoration: none;
    text-transform: none;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#leftWidget #leftWidgetContentLogin
{
    -moz-border-radius: 2px 2px 2px 2px;
    color:#000000;
    font-size: 9px;
    font-Family: 'Arial';
    margin-left: 5px;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#leftWidget #leftWidgetContentLogin a
{
    color:#000000;
    text-decoration: none;
    text-transform: none;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#leftWidget #leftWidgetContentLogin a:HOVER
{
    color:#000000;
    text-decoration: underline;
}

#leftWidget #leftWidgetContent a:HOVER
{
    color:#000000;
    text-decoration: underline;
}

#leftWidget #leftWidgetContent a
{
    color:#000000;
    text-decoration: none;
}


#containerDiv
{
    -moz-border-radius: 2px 2px 2px 2px;
    background-image: none;
    background-repeat: repeat-x;
font-family:Arial;
 page-break-after: avoid;
    page-break-before: avoid;
    display: inline;

}

#containerDiv a
{
    color: #000000;
    text-decoration: none;
    text-transform: none;
}

#containerDiv textarea
{
    font-size: 14px;
font-family:Arial;
    background-color: #FFFFFF;
}


#containerDiv #containerData
{
    -moz-border-radius: 2px 2px 2px 2px;
    color:#000000;
    font-size: 14px;
font-family:Arial;
    margin-left: 7px;
    text-align:left;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#containerDiv #containerData input[type="text"]
{
    font-size: 14px;
font-family:Arial;
    background-color: #FFFFFF;

    border: 0px;
    border-bottom: 1px dashed #000066;
    background-color:transparent;
}


#buttonContainer
{
    left:0px;
    position:relative;
    width:720px;
    display:inline;
    margin-left:3px;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#buttonContainer a #title
{
    top: -40px;
    left: 150px;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight:bold;
    text-align: center;
    width: 160px;}


#buttonContainer a #title1
{
    top: -45px;
    left: 120px;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
    font-weight:bold;
    font-size: 16px;
    font-weight:bold;
    width: 160px;
    text-align: center;
    }

#buttonContainer a
{
    color:#fff;
    cursor:pointer;
    text-decoration: none;
    width:360px;
    height:107px;
    background-image: url(../images/button1.png);
    background-repeat: no-repeat;
    float:left;
    background-color: #ffffff;

}

#buttonContainer a:hover
{
    text-decoration: none;
    background-image: url(../images/button2.png);

}

#buttonContainer a img
{
    top:15px;
    border: 0px;
    left: 45px;
    position:relative;
    width:auto;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}



#buttonAdd
{
    -moz-border-radius: 2px 2px 2px 2px;
    background-image: url(../images/button.jpg);
    background-repeat: repeat-x;
    height:32px;
    width: 150px;
    text-align: center;
    color: #FFFFFF;
font-family:Arial;
    cursor: pointer;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#buttonAdd a
{
    cursor: pointer;
    color: #FFFFFF;

}

#buttonAdd:Hover
{
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    color: #cccccc;
}

#operations
{
    -moz-border-radius: 2px 2px 2px 2px;
    background-color:#3D4550;
    color:#ffffff;
    height: 50px;
    position: relative;
    width:860px;
    page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}


#arrowLeft
{
    background-repeat: no-repeat;
    cursor: pointer;
    top:1px;
    position: relative;
    display:none;
}

#arrowLeft img:HOVER
{
  cursor: pointer;
  display:none;
}

#twoDay
{
font-family:Arial;
    font-size: 10px;
    top:-4px;
    position: relative;
    color:#ffffff;
}

#twoDay a
{
    text-decoration: none;
    text-transform: none;
}

#today
{
    top:-1px;
    position: relative;
    font-size: 10px;
    color:#ffffff;
}

#today input[type="button"]
{
    -moz-border-radius: 2px 2px 2px 2px;
    font-size: 10px;
    width: 42px;
    top: -3px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    border: 0px;
    border-bottom: 1px dashed #000066;
    background-color:#FFFFFF;

}


#arrowRight
{
  background-repeat: no-repeat;
  cursor: pointer;
  top:1px;
  position: relative;
  display:none;
}

#arrowRight img:hover
{
  cursor: pointer;
}

#docName
{
font-family:Arial;
  text-align:center;
  font-size: 12px;
  width: 150px;
  top:18px;
  left:-80px;
  position:relative;
  color:#ffffff;
   page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#docName select
{
  font-size: 12px;
  width: 150px;
  border: 0px;
    border-bottom: 1px dashed #000066;
    background-color:transparent;
}

#years
{
  float: left;
font-family:Arial;
  left:3px;
  position: relative;
    color:#ffffff;
    font-size:12px;
}

#years select
{
   font-size: 10px;
   border: 0px;
    border-bottom: 1px dashed #000066;
    background-color:transparent;
}

#to{
  color: #000000;
}

#traverse
{
    -moz-border-radius: 2px 2px 2px 2px;
    z-index: 0;
    color: #000000;
    page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#goBack
{
font-family:Arial;
   text-align: center;
   font-size: 14px;
   position: relative;
   left: 150px;
}

#traverse #month a
{
     background-image: url(../images/traverse.png);
     background-repeat: no-repeat;
     width:60px;
     height: 18px;
     bottom: 0px;
     vertical-align: middle;
font-family:Arial;
     font-size: 12px;
     margin-right: 5px;;
     float:right;
     text-align: center;
     cursor: pointer;
     text-decoration: none;
     color: #000000;
     top:11px;
     position: relative;

}

#traverse #month a:Hover
{
     background-image: url(../images/traverse1.png);
     background-repeat: no-repeat;
     color:#ffffff;
     text-decoration: none;


}

#traverse #day a
{
     background-image: url(../images/traverse.png);
     background-repeat: no-repeat;
     width:60px;
     height: 18px;
     bottom: 0px;
     vertical-align: middle;
font-family:Arial;
     font-size: 11px;
     margin-right: 5px;;
     float:right;
     text-align: center;
     cursor: pointer;
     text-decoration: none;
     color: #000000;
     position: relative;
      top:12px;

}

#traverse #day a:Hover
{
     background-image: url(../images/traverse1.png);
     background-repeat: no-repeat;
     color:#ffffff;
     text-decoration: none;
}

#traverse #week a
{

     background-image: url(../images/traverse.png);
     background-repeat: no-repeat;
     width:60px;
     height: 18px;
     bottom: 0px;
     vertical-align: middle;
font-family:Arial;
     font-size: 11px;
     margin-right: 5px;;
     float:right;
     text-align: center;
     cursor: pointer;
     text-decoration: none;
     color: #000000;
     top:11px;
     position: relative;

}

#traverse #week a:Hover{
    background-image: url(../images/traverse1.png);
     background-repeat: no-repeat;
     color:#ffffff;
     text-decoration: none;


}


#traverse #selected a{
     background-image: url(../images/traverse1.png);
     background-repeat: no-repeat;
     width:60px;
     height: 18px;
     bottom: 0px;
     vertical-align: middle;
font-family:Arial;
     font-size: 12px;
     margin-right: 5px;;
     float:right;
     text-align: center;
     cursor: pointer;
     text-decoration: none;
     color: #ffffff;
     top:11px;
     position: relative;
      page-break-after: avoid;
    page-break-before: avoid;
    display: inline;

}



#even
{
    -moz-border-radius: 2px 2px 2px 2px;
     background-color: #CEEFFF;
      page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}


#odd
{
    -moz-border-radius: 2px 2px 2px 2px;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#hd
{
    -moz-border-radius: 2px 2px 2px 2px;
      background-color: #FFFFFF;
      color: #000000;
      page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#headder
{
    font-weight: bold;
    text-decoration: underline;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}

#ccc
{
    background-color: #CEEFFF;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}


input[type="text"]
{
    font-size: 14px;
font-family:Arial;
    background-color: #FFFFFF;
    border: 1px #ccc solid;
    border: 0px;
    border-bottom: 1px dashed #000066;
    background-color:transparent;
}

input[type="password"]
{
    font-size: 14px;
font-family:Arial;
    background-color: #FFFFFF;
    border: 1px #ccc solid;
    border: 0px;
    border-bottom: 1px dashed #000066;
    background-color:transparent;
}

textarea
{
    font-size: 14px;
font-family:Arial;
    background-color: #FFFFFF;
    border: 1px #ccc solid;
     page-break-after: avoid;
    page-break-before: avoid;
    display: inline;
}


select
{
    font-size: 14px;
font-family:Arial;
    background-color: #FFFFFF;
    border: 0px;
    border-bottom: 1px dashed #000066;
    background-color:transparent;

}



#ui-datepicker-div
{
    z-index:1250;
    font-size: 62.5%;
}

#white
{
    color:white;
}


input[type="button"]
{
    background-color:#FFFFFF;
    display: none;
}

input[type=button]
{
    background-color:#FFFFFF;
    display: none;
}

table
{
  border: 0px solid #000;
}

#phead
{
    font-size: 24px;
    font-weight: bold;
}

#Update
{
    background-color:#FFFFFF;
    display: none;
}

#printheader
{
  display: inline;
}

.classDoNotPrint
{
    display:none;

}


.classHidden
{
    display:none;

}

.classTitle
{

    font-size: 13px;

}